<!-- comments here this is the index page for polls -->

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>my polls app</title>
  </head>

  <!-- We set the form’s action to {% url 'polls:vote' question.id %}, and we set method="post". Using method="post" (as opposed to method="get") is very important, because the act of submitting this form will alter data server-side. Whenever you create a form that alters data server-side, use method="post". This tip isn’t specific to Django; it’s good web development practice in general. -->
  <form action="{% url 'polls:vote' question.id %}" method="post">

    <!-- This tag is used for CSRF protection, as described in the documentation for Cross Site Request Forgeries. -->
    {% comment "Optional note" %}
    <p>The CSRF middleware and template tag provides easy-to-use protection against Cross Site Request Forgeries. This type of attack occurs when a malicious website contains a link, a form button or some JavaScript that is intended to perform some action on your website, using the credentials of a logged-in user who visits the malicious site in their browser. A related type of attack, ‘login CSRF’, where an attacking site tricks a user’s browser into logging into a site with someone else’s credentials, is also covered.</p>
    {% endcomment %}

    {% csrf_token %}
    
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        {% for choice in question.choice_set.all %}

            <!-- The above template displays a radio button for each question choice. The value of each radio button is the associated question choice’s ID. The name of each radio button is "choice". That means, when somebody selects one of the radio buttons and submits the form, it’ll send the POST data choice=# where # is the ID of the selected choice. This is the basic concept of HTML forms. -->
            <!-- forloop.counter indicates how many times the for tag has gone through its loop -->
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    
    <input type="submit" value="Vote">
  
  </form>
</html>


